In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn import metrics

In [44]:
test = pd.read_csv("test_transformed.csv")
df = pd.read_csv("train_transformed.csv")

In [49]:
test

,Unnamed: 0,Author_A,Author_B,count,dataset,btwc,adar,cc,dc,jc,pa,pagerank_A,pagerank_B,hits_authority_A,hits_hubs_A,hits_authority_B,hits_hubs_B
0,0,0,2917,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,1,0,2956,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,2,1,4038,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,3,2,1848,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,4,3,513,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,3865,3924,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1996,1996,3917,4025,1,test,5.409429e-08,0.0,0.122962,0.000658,0.0,1,0.000164,0.000164,5.589347e-78,2.812119e-76,5.589347e-78,2.812119e-76
1997,1997,3922,3947,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1998,1998,3955,3987,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1999,1999,3993,4063,1,test,0.000000e+00,0.0,0.000000,0.000000,0.0,0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [13]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,4:], ["pos" if i <= df.shape[0]//2 else "neg" for i in range(df.shape[0])])

In [17]:
LR = LogisticRegression(n_jobs = 4).fit(x_train, y_train)
LRT = LR.predict(x_test)

print(metrics.classification_report(y_test, LRT))

              precision    recall  f1-score   support

         neg       0.92      0.97      0.95      4058
         pos       0.97      0.92      0.94      3960

    accuracy                           0.95      8018
   macro avg       0.95      0.95      0.95      8018
weighted avg       0.95      0.95      0.95      8018

In [46]:
probs = LR.predict_proba(x_test)

In [48]:
probs[0]

array([0.94062615, 0.05937385])

In [45]:
import collections
collections.Counter(LR.predict(test.iloc[:,5:]))

Counter({'pos': 1800, 'neg': 200})

In [37]:
collections.Counter(y_test)

Counter({'neg': 4058, 'pos': 3960})

In [36]:
collections.Counter(LR.predict(x_test))

Counter({'neg': 4274, 'pos': 3744})

In [ ]:
clf = Ridge(alpha=1.0)
clf.fit(X, y)