Evaluation of feature importance using mutual information regression.

In [1]:
from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import mutual_info_classif
import pandas as pd
import pickle
import xgboost as xgb

In [2]:
def importanceFeatures(dfTrain, trainLabels):
    threshold = 12  # the number of most relevant features
    high_score_features = []
    feature_scores = mutual_info_classif(dfTrain, trainLabels, random_state=0)
    for score, f_name in sorted(zip(feature_scores, dfTrain.columns), reverse=True)[:threshold]:
            print(f_name, score)
            high_score_features.append(f_name)

In [3]:
dfTrain = pd.read_csv("train_transformed_allFeat.csv")
dfTrain.drop(dfTrain.columns[[0,1,2]], axis=1, inplace=True)
file_to_read= open('training_labels_combined.ob', 'rb')
labels = pickle.load(file_to_read)

In [4]:
importanceFeatures(dfTrain, labels)

path_len 0.693490159101817
jc 0.5671032218214469
aa 0.5661153292469305
ra 0.565721113151848
cc_B 0.12785598656568964
dc_A 0.1275137600194891
dc_B 0.1264932876492113
cc_A 0.12176153877291318
count 0.11704876607400472
pa 0.07683436175247871
bet_cB 0.0

In [31]:
dfTrain.corr() # to find if featuers are correlated and thus can be dropped without drop in accuracy.

,count,aa,ra,jc,pa,path_len,bet_cA,bet_cB
count,1.000000,0.168952,0.411745,0.163461,0.024820,-0.050205,0.029239,0.050435
aa,0.168952,1.000000,0.809069,0.731926,0.771848,-0.106971,0.303599,0.286272
ra,0.411745,0.809069,1.000000,0.760891,0.450996,-0.131586,0.171862,0.171871
jc,0.163461,0.731926,0.760891,1.000000,0.300821,-0.117414,0.013711,-0.001689
pa,0.024820,0.771848,0.450996,0.300821,1.000000,-0.086007,0.500010,0.491304
path_len,-0.050205,-0.106971,-0.131586,-0.117414,-0.086007,1.000000,-0.043167,-0.046401
bet_cA,0.029239,0.303599,0.171862,0.013711,0.500010,-0.043167,1.000000,0.038876
bet_cB,0.050435,0.286272,0.171871,-0.001689,0.491304,-0.046401,0.038876,1.000000

In [23]:
df_Test = pd.read_csv('test_transformed7feat.csv')
df_Test.drop(df_Test.columns[[0,1,2,3,7,9,10]], axis=1, inplace=True)
print(df_Test)

            aa        ra        jc  path_len
0     0.000000  0.000000  0.000000         3
1     0.000000  0.000000  0.000000         5
2     0.000000  0.000000  0.000000         3
3     1.242670  0.400000  0.080000         1
4     0.000000  0.000000  0.000000         4
...        ...       ...       ...       ...
1995  0.000000  0.000000  0.000000         5
1996  0.000000  0.000000  0.000000       999
1997  0.000000  0.000000  0.000000         3
1998  1.766048  0.424368  0.053333         1
1999  0.000000  0.000000  0.000000         5

[2000 rows x 4 columns]

In [24]:
dfTrain

,count,aa,ra,jc,pa,path_len,bet_cA,bet_cB
0,14,2.471649,0.531746,0.428571,96,1,0.000004,7.627579e-04
1,9,2.976054,0.668651,0.466667,112,1,0.000004,7.945613e-04
2,4,2.899858,0.628968,0.700000,72,1,0.000004,9.617825e-06
3,1,2.471649,0.531746,0.600000,64,1,0.000004,4.701792e-08
4,8,2.976054,0.668651,0.466667,112,1,0.000004,4.391450e-04
...,...,...,...,...,...,...,...,...
32067,1,0.000000,0.000000,0.000000,510,3,0.000371,4.349246e-03
32068,1,0.000000,0.000000,0.000000,30,999,0.000371,0.000000e+00
32069,1,0.000000,0.000000,0.000000,310,3,0.000371,6.463828e-03
32070,1,0.000000,0.000000,0.000000,140,3,0.000371,3.241458e-03
32071,1,0.000000,0.000000,0.000000,60,4,0.000371,1.781825e-05

In [32]:
dfTrain.drop(dfTrain.columns[[0,4,6,7]], axis=1, inplace=True)
print(dfTrain)
xgb_model = xgb.XGBRegressor(objective="binary:logistic", num_parallel_tree=8)
xgb_model.fit(dfTrain, labels)

             aa        ra        jc  path_len
0      2.471649  0.531746  0.428571         1
1      2.976054  0.668651  0.466667         1
2      2.899858  0.628968  0.700000         1
3      2.471649  0.531746  0.600000         1
4      2.976054  0.668651  0.466667         1
...         ...       ...       ...       ...
32067  0.000000  0.000000  0.000000         3
32068  0.000000  0.000000  0.000000       999
32069  0.000000  0.000000  0.000000         3
32070  0.000000  0.000000  0.000000         3
32071  0.000000  0.000000  0.000000         4

[32072 rows x 4 columns]
[15:17:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=8,
             objective='binary:logistic', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [33]:
result=pd.DataFrame(xgb_model.predict(df_Test))
result.reset_index(inplace=True)
result.columns=['Id','Predicted']
result['Id']=[i+1 for i in result['Id']]
result.to_csv('preds_featureSel2.csv',index=False)
result

        Id  Predicted
0        1   0.000058
1        2   0.000058
2        3   0.000058
3        4   0.999942
4        5   0.000058
...    ...        ...
1995  1996   0.000058
1996  1997   0.000058
1997  1998   0.000058
1998  1999   0.999942
1999  2000   0.000058

[2000 rows x 2 columns]