In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn import metrics

In [2]:
test = pd.read_csv("test_transformed9feat.csv")
df = pd.read_csv("train_transformed9feat.csv")

In [3]:
df.iloc[:,4:]

,aa,ra,jc,pa,path_len,bet_cA,bet_cB,dc_A,dc_B
0,2.471649,0.531746,0.428571,96,1,0.000004,7.627580e-04,0.002124,0.003186
1,2.976054,0.668651,0.466667,112,1,0.000004,7.945610e-04,0.002124,0.003717
2,2.899858,0.628968,0.700000,72,1,0.000004,9.620000e-06,0.002124,0.002390
3,2.471649,0.531746,0.600000,64,1,0.000004,4.700000e-08,0.002124,0.002124
4,2.976054,0.668651,0.466667,112,1,0.000004,4.391450e-04,0.002124,0.003717
...,...,...,...,...,...,...,...,...,...
32067,0.000000,0.000000,0.000000,510,3,0.000371,4.349246e-03,0.002655,0.001328
32068,0.000000,0.000000,0.000000,30,999,0.000371,0.000000e+00,0.002655,0.001593
32069,0.000000,0.000000,0.000000,310,3,0.000371,6.463828e-03,0.002655,0.002390
32070,0.000000,0.000000,0.000000,140,3,0.000371,3.241458e-03,0.002655,0.001062
32071,0.000000,0.000000,0.000000,60,4,0.000371,1.780000e-05,0.002655,0.001062

In [4]:
test.iloc[:,4:]

,aa,ra,jc,pa,path_len,bet_cA,bet_cB,dc_A,dc_B
0,0.000000,0.000000,0.000000,56,3,0.000004,0.000012,0.002124,0.001859
1,0.000000,0.000000,0.000000,24,5,0.000004,0.000000,0.002124,0.000797
2,0.000000,0.000000,0.000000,496,3,0.000000,0.007868,0.004249,0.008232
3,1.242670,0.400000,0.080000,72,1,0.001841,0.000000,0.006373,0.000797
4,0.000000,0.000000,0.000000,391,4,0.000000,0.000800,0.004514,0.006107
...,...,...,...,...,...,...,...,...,...
1995,0.000000,0.000000,0.000000,2,5,0.000000,0.000000,0.000266,0.000531
1996,0.000000,0.000000,0.000000,2,999,0.000000,0.000000,0.000531,0.000266
1997,0.000000,0.000000,0.000000,116,3,0.000000,0.003659,0.001062,0.007700
1998,1.766048,0.424368,0.053333,370,1,0.010468,0.000026,0.019649,0.001328
1999,0.000000,0.000000,0.000000,15,5,0.000000,0.000000,0.003983,0.000266

In [5]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,4:], ["pos" if i <= df.shape[0]//2 else "neg" for i in range(df.shape[0])])

In [6]:
LR = LogisticRegression(n_jobs = 4).fit(x_train, y_train)
LRT = LR.predict(x_test)

print(metrics.classification_report(y_test, LRT))

              precision    recall  f1-score   support

         neg       1.00      1.00      1.00      3994
         pos       1.00      1.00      1.00      4024

    accuracy                           1.00      8018
   macro avg       1.00      1.00      1.00      8018
weighted avg       1.00      1.00      1.00      8018

In [7]:
probs = LR.predict_proba(x_test)

In [8]:
metrics.roc_auc_score(y_test, probs[:, 1])

1.0

In [9]:
import collections
collections.Counter(LR.predict(test.iloc[:,4:]))

Counter({'neg': 1259, 'pos': 741})

In [10]:
collections.Counter(y_test)

Counter({'pos': 4024, 'neg': 3994})

In [11]:
collections.Counter(LR.predict(x_test))

Counter({'pos': 4024, 'neg': 3994})

In [12]:
results = LR.predict_proba(test.iloc[:,4:])
results[:,1]

array([9.41515443e-04, 1.46783542e-09, 7.41808693e-04, ...,
       9.11624832e-04, 9.99930156e-01, 1.47512395e-09])

In [13]:
output = pd.DataFrame({'Id': [i for i in range(1,2001)], 'Predicted': results[:,1]})
output.to_csv('result9features.csv', header = True, index= False)

In [ ]:
#ridge regression

clf = Ridge(alpha=1.0)
clf.fit(X, y)