In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn import metrics

In [85]:
test = pd.read_csv("test_transformed.csv")
df = pd.read_csv("train_transformed.csv")

In [86]:
df.iloc[:,4:]

             aa        ra        jc   pa
0      2.471649  0.531746  0.428571   96
1      2.976054  0.668651  0.466667  112
2      2.899858  0.628968  0.700000   72
3      2.471649  0.531746  0.600000   64
4      2.976054  0.668651  0.466667  112
...         ...       ...       ...  ...
32067  0.000000  0.000000  0.000000  510
32068  0.000000  0.000000  0.000000   30
32069  0.000000  0.000000  0.000000  310
32070  0.000000  0.000000  0.000000  140
32071  0.000000  0.000000  0.000000   60

[32072 rows x 4 columns]

In [87]:
test.iloc[:,4:]

            aa        ra        jc   pa
0     0.000000  0.000000  0.000000   56
1     0.000000  0.000000  0.000000   24
2     0.000000  0.000000  0.000000  496
3     1.242670  0.400000  0.080000   72
4     0.000000  0.000000  0.000000  391
...        ...       ...       ...  ...
1995  0.000000  0.000000  0.000000    2
1996  0.000000  0.000000  0.000000    2
1997  0.000000  0.000000  0.000000  116
1998  1.766048  0.424368  0.053333  370
1999  0.000000  0.000000  0.000000   15

[2000 rows x 4 columns]

In [88]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,4:], ["pos" if i <= df.shape[0]//2 else "neg" for i in range(df.shape[0])])

In [89]:
LR = LogisticRegression(n_jobs = 4).fit(x_train, y_train)
LRT = LR.predict(x_test)

print(metrics.classification_report(y_test, LRT))

              precision    recall  f1-score   support

         neg       0.93      1.00      0.96      3992
         pos       1.00      0.92      0.96      4026

    accuracy                           0.96      8018
   macro avg       0.96      0.96      0.96      8018
weighted avg       0.96      0.96      0.96      8018

In [90]:
probs = LR.predict_proba(x_test)

In [91]:
metrics.roc_auc_score(y_test, probs[:, 1])

0.9818357840868026

In [92]:
import collections
collections.Counter(LR.predict(test.iloc[:,4:]))

Counter({'neg': 1322, 'pos': 678})

In [93]:
collections.Counter(y_test)

Counter({'neg': 3992, 'pos': 4026})

In [94]:
collections.Counter(LR.predict(x_test))

Counter({'neg': 4295, 'pos': 3723})

In [70]:
results = LR.predict_proba(test.iloc[:,4:])
results[:,1]

array([0.09737318, 0.10351142, 0.04065471, ..., 0.08673461, 1.        ,
       0.10529846])

In [76]:
output = pd.DataFrame({'Id': [i for i in range(1,2001)], 'Predicted': results[:,1]})
output.to_csv('first_one.csv', header = True, index= False)

In [ ]:
#ridge regression

clf = Ridge(alpha=1.0)
clf.fit(X, y)